body{
	display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2%;
	border: 1px solid #7a2d14;
	background-color: #e1e0ce;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #7a2d14 !important;
    text-align: center;
}

#image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
	width: 64vw;
    aspect-ratio: 16/9;
	border: 2px solid #7a2d14;
	margin: 0 auto 25px;
    padding: 25px;

    background-color: #0f99e8;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
    color: #F9DB0F !important;
    text-align: center;
    font-size: 2vw;
    font-style: italic;
    
    -webkit-text-stroke: 1px black;
    paint-order: stroke fill;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.preview{
	display: inline-block !important;
    width: 8%;
    aspect-ratio: 1/1;
    border: 2px solid #7a2d14;
    object-fit: cover;
    margin: 5px !important;
    flex-shrink: 0 !important;
}

img{
	width: 95%;
}
